
.carrito-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.carrito-list {

    padding: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



.carrito-item h3 {
    font-size: 1.2em;
    margin: 0;
    color: #232222;
}

.carrito-item p {
    margin: 4px 0;
    color: #666;
}

.carrito-item button {
    padding: 8px 12px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carrito-item button:hover {
    background-color: #e55342;
}

.carrito-total {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    color: #232222;
}

.carrito-total h3{
    font-size: 1.4rem;
}

.carrito-total button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carrito-total button:hover {
    background-color: #0069d9;
}

.item-count {
    display: block;
}



.item-count button {
    width: 30px;
    height: 30px;
    background-color: #0476f0;
    border-radius: 5px;
    cursor: pointer;
}

.item-count button:hover {
    background-color: #1284fe;
}

.item-count p {
    margin: 0 10px; 
    font-size: 18px;
}

.cart-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.cart-link .fa-cart-shopping {
    font-size: 1.5em; 
}

.cart-count {
    position: absolute;
    top: -9px; 
    right: -9px; 
    background-color: #7d03e8; 
    color: #e0e0e0;
    border-radius: 50%; 
    padding: 2px 6px; 
    font-size: 0.8em; 
    font-weight: bold; 
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 600px) {
    .carrito-list {
        width: 100%;
    }

    .carrito-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .carrito-item > div {
        margin-right: 0;
        margin-bottom: 10px;
    }


    .carrito-item button {
        width: 100%;
    }

   
}
