
/* Inputs gastos */


.inputs-gastos select,
.inputs-gastos input {
    flex: 1 1 calc(30% - 12px); 
    padding: 12px;
    border: 1px solid #9a9898;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

@media (max-width: 768px) {
    .inputs-gastos select,
    .inputs-gastos input {
        flex: 1 1 100%; 
    }
}



.inputs-gastos input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.filtros2 {
    display: flex; 
  }
  
  .filtro-input {
    flex: 1 calc(30% - 12px); 
    padding: 12px;
    border: 1px solid #ddd; 
    border-radius: 3px; 
  }
  
/* Botones de edicion */

.actions{
    text-align: center;
    padding: 12px;
}


.actions button{
    margin: 12px 6px;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.trash{
    background-color: #f44336;
    color: white;
}

.trash:hover {
    background-color: #d32f2f;
}


.edit{
    background-color: #ece9e9;
    color: #181818;
}
.edit:hover{
    background-color: #ccc8c8;
}



btn-edit{
    margin: 2px 8px;
}

.check {
    background-color: rgb(12, 229, 12);
    color: white;
}

.check:hover{
    background-color: rgb(8, 186, 8);
}

.cancel {
    background-color: rgb(227, 10, 10);
    color: white;
}

.cancel:hover{
    background-color: #b32525;
}