.btn-volver-arriba {
    position: fixed;
    bottom: 20px;
    background-color: #2a6df1;
    color: #faf7f7;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s, transform 0.3s;
}

.btn-volver-arriba:hover {
    opacity: 1;
}



.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}


.notificacion {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(20, 20, 20);
}

.notificacion button:hover {
    opacity: 1; 
    color: #242424; 
    transform: scale(1.2); 
    transition: transform 0.9s, opacity 0.3s; 
}

.outlined {
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
}

.icon-noti button {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer; 
}



