.filtros{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 3rem auto;
    justify-content: space-between; 
}

.filtros select {
    border: 2px solid #1e1e1e;
}

.filtros select:focus{
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.2);
}

.button {
    background-color: #3669f4;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: .4rem 1.4rem;
    cursor: pointer;
    border-radius: 4px;  
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2f5ad3;
}
