/* Estilos generales */
.venta-container,
.productos-container,
.gastos-container,
.notas-container {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

h1{

    text-align: center;
    margin: 2.2rem auto 3.3rem ;
    font-weight: 600;
}


.inputs-ventas,
.inputs-gastos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 12px auto;
    justify-content: space-between; 
}


.inputs-ventas input,
.inputs-ventas select {
    flex: 1 2 calc(30% - 12px); 
    padding: 12px;
    border: 1px solid #9a9898;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}


.inputs-ventas input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Propiedades mobile */
@media (max-width: 768px) {
    .inputs-ventas {
        flex-direction: column; /* Cambia a una columna en dispositivos móviles */
    }

    .inputs-ventas input, 
    .inputs-ventas select {
        flex: 1 1 100%;
    }

    .botones {
        flex-direction: column;
    }

    .agregar, .limpiar button {
        width: 100%;
    }


}

/* Estilos para el botón agregar */
.botones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 2.8rem auto ;
}

.agregar, .limpiar, .vaciar {
    padding: 10px 20px;
    margin-right: 2rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* width: calc(50% - 5px); */
}


.agregar {
    background-color: #2ecc71;
}

.agregar:hover {
    background-color: #27ae60;
}

.limpiar {
    background-color: #7a2ecc;
}

.limpiar:hover {
    background-color: #5d1ebc;
}

.vaciar {
    background-color: #ee3636;
}

.vaciar:hover {
    background-color: #b32222;
}



/* Estilos para la tabla */

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.productos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ccc;
}



th{
    color: #f9f9f9;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.productos td {
    text-align: center;
    padding: 1.8rem 1rem;
}

.productos th{
    text-align: center;
    padding: 1.2rem;
}

.productos th {
    background-color: #1B5DC8;
}



.productos tr:nth-child(even) {
    background-color: #f9f9f9;
}

.productos tr:hover {
    background-color: #f1f1f1;
}



/* Botones de edicion */

.actions {
    text-align: center;
    padding: 12px;
}


.actions button {
    margin: 12px 6px;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 50%; 
    font-size: 1rem; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    transition: background-color 0.3s, color 0.3s; 
    background-color: none;
}


.trash {
    color: #f44336;
}

.trash:hover {
    background-color: #d32f2f;
    color: white; 
}

.edit {
    color: #181818;
}

.edit:hover {
    background-color: #181818;
    color: #ccc8c8; 
}

.check {
    color: white;
    background-color: rgb(12, 229, 12);
}

.check:hover {
    background-color: rgb(8, 186, 8);
}

.cancel {
    color: white;
    background-color: rgb(227, 10, 10);
}

.cancel:hover {
    background-color: #b32525;
}

.agregar-prod{
    background-color: #0381e2;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.agregar-prod:hover{
    background-color: #2e6bcc;
}


.total{
    color: rgb(8, 8, 8);
    font-weight: 700;
    letter-spacing: 1px;
}

.monto{
    font-weight: 600;
}
