.buscador-container {
    display: flex;
    margin: 4rem auto  ;
    max-width: 600px;
    background-color: #c6c6c6;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buscador-input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #272626;
    border-radius: 12px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.buscador-input:focus {
    border-color: #ffcc00;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 2, 0.2);
}
