.container {
    cursor: pointer;
    z-index: 3;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar {
    display: flex;
    padding: 12px;
    justify-content: space-between;
    transition: .3s ease-in-out;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    width: 450px;
    height: 100vh;
    top: 100%;    
    backdrop-filter: blur(6px);
    transition: 0.3s;
    /* transition: 1s ease-in-out, opacity 1s ease-in-out;  */
    transform: translateX(-100%); 
    /* border-radius: 0px 50px 0px; */
    /* background: rgba(2, 12, 36, 0.7); */
}

.overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0; 
    bottom: 0;
    width: 100%; 
    background: rgba(2, 12, 36, 0.7);
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(6px);
    transition: 0.3s;
}

body.open .overlay {
    visibility: visible;
    opacity: 1;
}

.menu.open {
    transform: translateX(0);
}

.menu a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 2.2rem auto .3rem;
    padding: 6px 24px;
    letter-spacing: 2px;
    color: #ece9e9;
    transition: color 0.6s; 
}

.menu a:hover {
    color: #ffcc00;
}

.active a {
    color:#ffcc00;
}

.icon-notas i{
    margin: 6px 18px 6px 12px;
    font-size: 1.8rem;
    color: #1d1c1c;
    transition: .3s;

}

.icon-notas i:hover{
    color: #ffcc00;
}


.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: left;
}

.menu-icon span {
    height: 2px;
    width: 22px;
    background-color: #1d1c1c;
    margin: 4px 12px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 6px);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -6px);
}

@media (max-width: 850px) {
    .menu {
        width: 100%;
    }
}
