
.chart-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    background-color: #f7f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* max-width: 1200px; */
    margin: 4rem auto; 
}

.month-container, .product-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    flex: 1 1 40%; 
    min-width: 200px; 
    max-width: 700px; 
}

h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 1rem;
}



.bar-container, .doughnut-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
}

@media (max-width: 768px) {
    .chart-container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .month-container, .product-container {
        width: 100%;
        flex-basis: 100%;
    }

    .bar-container, .doughnut-container {
        height: 450px; 
        width: 100%; 
    }
}


.ventas-chart,.container-estadisticas{
    margin: 3rem 0 ;
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.container-estadisticas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* Estilo de los links de los gráficos */
.chart-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    margin: 2rem 4rem;
    transition: transform 0.3s ease;
}

.chart-image {
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border-radius: 50%; 
    border: 3px solid #b0adad;
    transition: transform 0.8s ease, border-color 0.8s ease;
}


.chart-link:hover {
    transform: scale(1.1);
}

.chart-link:hover .chart-image {
    border-color: #007BFF; 
}


.chart-link span {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}


@media (max-width: 600px) {
    .container-estadisticas {
        flex-direction: column; 
    }

    .chart-link {
        margin: 2rem 0;
    }

    .chart-image {
        width: 180px;
        height: 180px;
    }

    .chart-link span {
        font-size: 14px;
    }
}

