.container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

.navbar {
    display: flex;
    padding: 12px 9px 2px;
    background-color: rgb(247, 250, 252);
    justify-content: space-between;
    transition: .3s ease-in-out;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}


.menu {
    
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    top: 100%;    
    backdrop-filter: blur(6px);
    transition: 0.3s;
    transform: translateX(-100%); 
    overflow-y: auto; 
    /* padding-top: 1rem; */
}

.menu::-webkit-scrollbar {
    width: 8px;
}

.menu::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 10px;
    border: 2px solid #2ab270; 
}

.menu::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa; 
}

.menu::-webkit-scrollbar-track {
    background-color: #2ab270; 
    border-radius: 10px;
}


@media (min-width: 850px) {
    .menu{
        width: 40vw;
        background: rgba(2, 12, 36, 0.7);
    }

    .overlay{
        display: none;
    }
}



.overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0; 
    bottom: 0;
    width: 100vw; 
    background: rgba(2, 12, 36, 0.7);
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(6px);
    transition: 0.3s;
}

body.open .overlay {
    visibility: visible;
    opacity: 1;
}

.menu.open {
    transform: translateX(0);
}

.menu a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 2.2rem auto .3rem;
    padding: 6px 24px;
    letter-spacing: 2px;
    color: #ece9e9;
    transition: color 0.6s; 
    
}

.menu a:hover {
    color: #ffcc00;
}

.active a {
    color:#ffcc00;
}


.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: left;
}

.menu-icon span {
    height: 2px;
    width: 22px;
    background-color: #1d1c1c;
    margin: 4px 8px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 6px);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -6px);
}

.icon-container .MuiIconButton-root {
    margin-right: 18px; 
}

.icon-container .MuiSvgIcon-root {
    color: rgb(47, 46, 46);
}
