.notas-container {
    padding: 20px 12px;
    max-width: 1200px;
    margin: auto;
}

.agregar-notas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.agregar-notas input {
    flex: 1;
    padding: 9px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 200px; 
}

.botones-notas {
    display: flex;
    gap: 10px;
}

.botones-notas button {
    margin: auto 1.2rem;
}

  .descripcion {
    white-space: normal; 
    word-wrap: break-word; 
    max-width: 300px; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}


.actions2 {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.actions2 button {
    margin: 0 18px;
    padding: 6px 8px;
    border: none;
    cursor: pointer;
    border-radius: 12px; 
    font-size: 0.8rem; 
    transition: background-color 0.3s, color 0.3s; 
    background-color: none;
}

.completar {
    background-color: rgb(8, 186, 8);
    color: rgb(255, 255, 255);
}
.completar:hover{  
    background-color: rgb(3, 143, 3);
}

.desmarcar {
    background-color: rgb(241, 6, 6);
    color: rgb(255, 255, 255);
}

.desmarcar:hover {
    background-color: #b32525;
}

.btn-editar button{
    margin: 0 18px;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.edit-row input{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 12px 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 8px;
    font-size: .8rem; 
}

.edit-row input:focus {
    outline: none;
    border-color: #007bff;
}

.edit-row select{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 12px 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 8px;
    font-size: .8rem; 
}

.completed-note {
    text-decoration: line-through;
    color: rgb(156, 159, 155); 
}


.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.texto-notas{
    flex-wrap: wrap;
    max-width: 300px;
    text-align: center;
}


.note-count {
    position: absolute;
    top: -7px; 
    left: 2px; 
    background-color: #ed1c09; 
    color: #e0e0e0;
    border-radius: 50%; 
    padding: 2px 6px; 
    font-size: 0.6em;  
    font-weight: bold; 
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (max-width: 600px) {
    .agregar-notas {
        flex-direction: column;
        align-items: stretch;
    }

    .botones-notas {
        flex-direction: row;
        margin: 1rem 0;
    }

    .botones-notas button {
        flex: 1;
    }

    .actions2 {
        flex-direction: row;
        gap: 12px; 
    }

    .actions2 button {
        font-size: 12px; 
        padding: 6px; 
    }

}




.checkbox{
    width: 20px;
}

.container-manyproducts{
    position: fixed;
    max-width: 100px;
}

.container-manyproducts button{
    margin: 12px 6px;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 50%; 
    font-size: .9rem; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px; 
    height: 35px;
    transition: background-color 0.9s, color 0.3s; 
}

.broom{
    margin-left: 1rem;
    background-color: #561d93;
    color: #ffffff;
}

.broom:hover{
    background-color: #810ed8;
}

.delete-many{
    color: #ffffff;
    background-color: #a82020;
}

.delete-many:hover{
    background-color: #f23030;
}

