/* Estilos generales */
.venta-container,
.productos-container,
.gastos-container {
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

h1{

    text-align: center;
    margin: 5rem auto  ;
    font-weight: 600;
}


.inputs-ventas,
.inputs-productos,
.inputs-gastos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 12px auto;
    justify-content: space-between; 
}


.inputs-ventas input,
.inputs-ventas select {
    flex: 1 2 calc(25% - 12px); 
    padding: 12px;
    border: 1px solid #9a9898;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.inputs-productos input,
.inputs-productos select {
    flex: 1 2 calc(30% - 12px); 
    padding: 12px;
    border: 1px solid #9a9898;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.inputs-gastos input,
.inputs-gastos select {
    flex: 1 2 calc(25% - 12px); 
    padding: 12px;
    border: 1px solid #9a9898;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}



.inputs-ventas input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.unidad-condicion {
    display: flex;
    gap: 12px; 
}

.unidad-condicion input {
    flex: 1; 
    padding: 12px;
    border: 1px solid #9a9898;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.unidad-ventas {
    display: flex;
    gap: 8px; 
}

.unidad-ventas input {
    flex: 1; 
    padding: 12px;
    border: 1px solid #9a9898;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}



/* Propiedades mobile */
@media (max-width: 768px) {
    .inputs-ventas, .inputs-productos {
        flex-direction: column; 
    }

    .inputs-ventas input, 
    .inputs-ventas select {
        flex: 1 1 100%;
    }

    .botones {
        flex-direction: column;
    }

    .agregar, .limpiar button {
        width: 100%;
    }

    .totales{
        flex-direction: column;
    }

    .total{
        margin: 1rem 0;
    }


}

@media (max-width: 450px){
    .unidad-condicion {
        flex-direction: column; 
        gap: 8px;
    }

    .unidad-condicion input {
        flex: none; 
        width: 100%;
    }
}


/* Estilos para el botón agregar */
.botones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 2.8rem auto ;
}

.agregar, .limpiar, .vaciar {
    padding: 10px 20px;
    margin-right: 2rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* width: calc(50% - 5px); */
}


.agregar {
    background-color: #2ecc71;
}

.agregar:hover {
    background-color: #27ae60;
}

.limpiar {
    background-color: #7a2ecc;
}

.limpiar:hover {
    background-color: #5d1ebc;
}

.vaciar {
    background-color: #ee3636;
}

.vaciar:hover {
    background-color: #b32222;
}



/* Estilos para la tabla */

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.productos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ccc;
}



th{
    color: #f9f9f9;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.productos td {
    text-align: center;
    padding: 1.8rem 1rem;
}

.productos th{
    text-align: center;
    padding: 1.2rem;
}

.productos th {
    background-color: #1B5DC8;
}



.productos tr:nth-child(even) {
    background-color: rgb(249, 249, 249);
}

.productos tr:hover {
    background-color: rgba(32, 89, 181, 0.2);
    transition: all 0.1s ease-in;
}



/* Botones de edicion */

.actions {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}


.actions button {
    margin: 9px 3px;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 50%; 
    font-size: .9rem; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px; 
    height: 35px;
    transition: background-color 0.3s, color 0.3s; 
    background-color: none;
}


.trash {
    color: #f44336;
}

.trash:hover {
    background-color: #d32f2f;
    color: white; 
}

.edit {
    color: #181818;
}

.edit:hover {
    background-color: #181818;
    color: #ccc8c8; 
}

.check {
    color: white;
    background-color: rgb(12, 229, 12);
}

.check:hover {
    background-color: rgb(8, 186, 8);
}

.cancel {
    color: white;
    background-color: rgb(227, 10, 10);
}

.cancel:hover {
    background-color: #b32525;
}

.agregar-prod{
    background-color: #0381e2;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.agregar-prod:hover{
    background-color: #2e6bcc;
}


.total{
    color: rgb(8, 8, 8);
    font-weight: 700;
    letter-spacing: 1px;
}

.monto{
    font-weight: 600;
}

.totales{
    display: flex;
    justify-content: space-between;
    margin: 1.8rem 0 1rem;
}



.checkbox,.promo{
    width: 20px;
}

.container-manyproducts{
    position: fixed;
    max-width: 100px;
}

.container-manyproducts button{
    margin: 12px 6px;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 50%; 
    font-size: .9rem; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px; 
    height: 35px;
    transition: background-color 0.9s, color 0.3s; 
}

.broom{
    margin-left: 1rem;
    background-color: #561d93;
    color: #ffffff;
}

.broom:hover{
    background-color: #810ed8;
}

.delete-many{
    color: #ffffff;
    background-color: #a82020;
}

.delete-many:hover{
    background-color: #f23030;
}


.ordenar {
    background: none; 
    border: none;      
    cursor: pointer;   
    padding: 0;        
    outline: none;   
    display: inline-flex;  
    align-items: center;
    justify-content: center;
    color: #ffff;
    margin-left: 1rem;
}