.ventas-chart{
    margin: 3rem 0 ;
    max-width: 100%;
    padding: 30px;
    box-sizing: border-box;
}


/* styles.css */

/* Asegura que el contenedor del gráfico tenga un tamaño adecuado y sea responsivo */
.chart-container {
    width: 100%;
    max-width: 900px; /* Ajusta este valor según sea necesario */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px 12px; /* Añade un poco de espacio alrededor del contenedor */
  }
  
  /* Ajusta el tamaño del gráfico */
  .chart-container canvas {
    width: 100% !important; /* Asegura que el canvas del gráfico sea 100% del contenedor */
    height: auto !important; /* Ajusta la altura automáticamente */
  }
  
  /* Estilo adicional para el título del gráfico */
  .chart-title {
    text-align: center;
    margin-bottom: 20px;
  }
  